/* bold - Netscape doesn't terminate inline styles */
.bold  {
	font-weight : bold;
}
/* page headers */
H2
{
    COLOR: #AA1503;
	FONT-FAMILY: ' Arial, Verdana, Helvetica, sans-serif';
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	letter-spacing : 1px;
}
H3
{
    COLOR: #AA1503;
	FONT-FAMILY: ' Arial, Verdana, Helvetica, sans-serif';
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	letter-spacing : 1px;
}
/* main copy */
BODY  {
	COLOR: Black;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	margin-top : 2px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 2px;
}

/* table cells:  had to put this in since the body text doesn't reach inside
table cells on Netscape */
TD  {
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD#TWLVE
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD#SLOGAN  {
	color : #1F5998;
	font-style : normal;
	font-weight : normal;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD#MMBR
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	vertical-align : top;
	padding : 2px 2px 2px 2px;
}
TD#BOTBAR  {
	color: #121212;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
TD#NAV
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	vertical-align : top;
}
TD#NOBRDR
{
	border : none;
}
TD#NEWS
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 4px 0px 0px 0px;
	border-top : none;
}
TD#NEWS2
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 0px 0px 0px 2px;
}
TD#CMGSN
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 5px 0px 0px 3px;
	border-top : none;
}
TD#ADs
{
	padding : 6px 0px 0px 0px;
	border-top : none;
}
TD#BOLD
{
	color : #151515;
	font-style : normal;
	font-weight : bold;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 2px 0px 2px 0px;
}
TD#CLIPS
{
	color : #151515;
	font-style : normal;
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 2px 0px 2px 0px;
}
TD#ARCHV
{
	color : #151515;
	font-style : normal;
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 10px 8px 10px 8px;
}
TD#LGL
{
	padding : 5px 15px 0px 15px;
	vertical-align : top;
	font-size : 12px;
}
TD#FLM
{
	padding: 2px 0px 2px 0px;
}
.CNTCT
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	vertical-align : top;
	padding : 8px 0px 8px 12px;
	width : 240px;
}
TD#CNTCT
{
	padding : 2px 0px 2px 0px;
}
TD#FLMBDY
{
	padding: 2px 2px 2px 6px;
}
TABLE.FLM
{
	border-collapse: collapse;
	border-bottom-color: #A9B7C3;
	border-right-color: #A9B7C3;
	border-left-color: #B6C3CE;
	border-top-color: #B6C3CE;
}
STRONG  {
	color : #FFFFFF;
	font-style : normal;
	font-weight : bolder;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	height : 18px;
	line-height : 18px;
}
.subheader {
	font-size: 10px;
	font-weight: bold;
	color: #FFCC33;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
A:link 
{
    COLOR:#0050A5;
}
A:visited 
{
    COLOR:#32739C;
}
A 	 	
{
    TEXT-DECORATION: none
}
A:hover
{
    COLOR:#C80000;
	TEXT-DECORATION: underline
}
div.TTL
{
	padding : 5px 0px 5px 0px;
	COLOR: #770000;
	FONT-FAMILY: ' Arial, Verdana, Helvetica, sans-serif';
	font-size : 24px;
	font-weight : bolder;
	height : 24px;
}
div.HEAD
{
	padding : 0px 0px 0px 0px;
	background : url(../images/HEAD.gif) repeat;
	height : 16px;
}
div.EVNTS
{
	padding : 4px 0px 8px 0px;
	COLOR: #252525;
	FONT-FAMILY: ' Arial, Verdana, Helvetica, sans-serif';
	font-size : 16px;
	height : 18px;
	font-weight : bold;
}
div.EVNTC
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
	color : #760A0A;
	height : 18px;
	font-weight : bold;
}
B.CPTN
{
	font-family : "Times New Roman", Times, serif;
	font-size : 16px;
	color : #190C0D;
}
B.ALT
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 15px;
	color : #832317;
}
B.EVNTS
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #4A0A0A;
}
B.EVNTC
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
	color : #760A0A;
}
div.FLM
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	height: 22px;
	letter-spacing: .025em;
	color: #6E0E0E;
}
B.FLM
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	height: 16px;
	color: #6E0E0E;
}
B.WSH
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	height: 14px;
	color: #6C0101;
}