vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Mar 2008 07:57:10 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|SWNA\\wlwest
vti_modifiedby:SR|SWNA\\wlwest
vti_timecreated:TR|10 Mar 2008 07:57:10 -0000
vti_cacheddtm:TX|10 Mar 2008 07:57:10 -0000
vti_filesize:IR|1648
vti_cachedlinkinfo:VX|S|data:image/gif;base64,AAAA S|../images/prevlabel.gif S|../images/nextlabel.gif
vti_cachedsvcrellinks:VX|NSUS|data:image/gif;base64,AAAA FSUS|images/prevlabel.gif FSUS|images/nextlabel.gif
vti_backlinkinfo:VX|index.htm index.html
