/* bold - Netscape doesn't terminate inline styles */
.bold  {
	font-weight : bold;
}
/* cheap new window icon -- need better solution*/
/* a[target='_blank']::after {content: '\29C9';} */

/* default? */
p.lots
{
    COLOR: #8F5310;
	font-style : normal;
	font-weight : normal;
	font-size : 100%;
	font-family : "Bodoni MT", "DejaVu Serif", "Times New Roman", serif;
	text-align: left;
	margin:	10px;
	text-indent:50px;
}
#titleside {
	clear:both;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	padding: 5px 10px ;
}
#topside {
	clear:both;
	border-style:groove ;
	border-width:2px;
	margin:10px 20px 10px 25px;
	padding: 5px 10px ;
}
#leftside {
	border-style:groove ;
	border-width:2px;
	float:left;
	width:42%;
	margin:10px 10px 10px 25px;
	padding: 5px 10px ;
}
#rightside {
	border-style:groove ;
	border-width:2px;
	float:right;
	width:45%;
	margin:10px 20px 10px 10px;
	padding: 5px 10px ;
}
#footside {
	clear:both;
	border-style:groove ;
	border-width:2px;
	margin:10px 20px 10px 25px;
	padding: 5px 10px ;
}
#leftthird {
	color: #009900;
	float:left;
	width:210px;
	padding: 0px ;
	margin: 8px 0px 8px 4px;
}
#leftborder {
	float:left;
	width:44px;
	padding: 4px 0px 4px 0px;
	margin: 8px 0px 8px 0px;
}
#rightthird {
	color: #009900;
	float:right;
	width:350px;
	padding: 0px ;
	margin: 8px 4px 8px 0px;
}
#righttwothirds {
	color: #009900;
	float:right;
	width:700px;
	padding: 0px ;
	margin: 8px 4px 8px 0px;
}
h1.silents
{
    text-align: center;
    font-style: italic;
    color: #FF0000;
}
h2.silents
{
    text-align: center;
    font-style: italic;
    color: #FF6600;
}
#silentsleftthird {
	color: #009900;
	float:left;
	width:300px;
	padding: 0px ;
	margin: 8px 0px 8px 4px;
}
#silentsrightthird {
	color: #009900;
	float:right;
	width:300px;
	padding: 0px ;
	margin: 8px 4px 8px 0px;
}
#silentsrighttwothirds {
	color: #009900;
	float:right;
	width:600px;
	padding: 0px ;
	margin: 8px 4px 8px 0px;
}
#silentsrighthalf {
	color: #009900;
	float:right;
	width:400px;
	padding: 0px ;
	margin: 8px 4px 8px 0px;
}
.centeredImage {
    text-align:center;
}
#footthird {
	color : #CC6600;
	text-align: center;
	clear:both;
	padding: 4px ;
	margin: 0px 4px 8px 4px ;
}
#main {
	float:left;
	width:80%;
}
#sidebar {
	float:right;
	width:20%;
	background:#8F5310;
}
#footer {
	clear:both;
}
ul#barbed
{
list-style-type:none;
padding:0px;
margin:0px;
}
ul li#barbed
{
background-image:url(../images/BarbedWireBullet.png);
background-repeat:no-repeat;
background-position:0px 3px; 
padding-left:20px;
}
IMG.centered 
{
    display: block;
	margin-left: auto;
	margin-right: auto 
}
p
{
    COLOR: #66001a;
	font-style : normal;
	font-weight : normal;
	font-size : 120%;
	font-family : "Bodoni MT", "DejaVu Serif", "Times New Roman", serif;
}
dt
{
    COLOR: #AA1503;
	font-style : normal;
	font-weight : bold;
	font-size : 160%;
	font-family : "Caslon", "Times New Roman", serif;
}
dd
{
    COLOR: #AA1503;
	font-style : normal;
	font-weight : normal;
	font-size : 140%;
	font-family : "Bodoni MT", "Times New Roman", serif;
}
/* page headers */
title
{
    COLOR: #AA1503;
	font-family : "Bodoni MT Poster Condensed", "DejaVu Serif", Impact, "Times New Roman", serif;
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	font-size : 36px;
	letter-spacing : 1px;
}
H1
{
    COLOR: #AA1503;
	font-family : "Bodoni MT Poster Condensed", "DejaVu Serif", Impact, "Times New Roman", serif;
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	font-size : 36px;
	letter-spacing : 1px;
}
H2
{
    COLOR: #AA1503;
	font-family : "Bodoni MT Black", "DejaVu Serif", "Times New Roman", serif;
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	letter-spacing : 1px;
}
H3
{
    COLOR: #AA1503;
	font-family : "Caslon", "DejaVu Serif", "Times New Roman", serif;
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	letter-spacing : 1px;
}
H3#GREEN
{
	COLOR: #11BB11;
	font-family : "Caslon", "DejaVu Serif", "Times New Roman", serif;
	TEXT-TRANSFORM: none;
	MARGIN : 0px;
	PADDING : 0px;
	WHITE-SPACE : inherit;
	letter-spacing : 1px;
}
/* main copy */
H4  {
	COLOR: #336600;
	font-style : normal;
	font-weight : normal;
	font-size : 14px;
	font-family : "Caslon", "DejaVu Serif", "Times New Roman", serif;
	margin-top : 2px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 2px;
}
H4#GREEN  {
	COLOR: #11FF11;
	font-style : normal;
	font-weight : normal;
	font-size : 13px;
	font-family : "Caslon", "DejaVu Serif", "Times New Roman", serif;
	margin-top : 2px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 2px;
}
/* main copy */
BODY  {
	color : #66001A;
	font-style : normal;
	font-weight : normal;
	font-family : "DejaVu Serif", "Times New Roman", serif;
	margin-top : 2px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 2px;
}

/* table cells:  had to put this in since the body text doesn't reach inside
table cells on Netscape */
TD  {
{
	color : #66001A;
	font-style : normal;
	font-weight : normal;
	font-family : "DejaVu Serif", "Times New Roman", serif;
}
}
H4#GREEN  {
	COLOR: #11FF11;
	font-style : normal;
	font-weight : normal;
	font-size : 13px;
	font-family : "Caslon", "DejaVu Serif", "Times New Roman", serif;
	margin-top : 2px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 2px;
}
TD#EventDate
{
	color : #66001A;
	text-align: right;
	width: 35%;
	font-style : normal;
	font-weight : normal;
	font-size : 16px;
	font-family : "DejaVu Serif", "Times New Roman", serif;
}
td#Event div#EventDetail
{
	color : #66001A;
	text-align: center;
	font-style : normal;
	font-weight : normal;
	font-size : 12px;
	font-family : "DejaVu Serif", "Times New Roman", serif;
}
TD#Event
{
	color : #66001A;
	text-align: left;
	font-style : normal;
	font-weight : normal;
	font-size : 16px;
	font-family : "DejaVu Serif", "Times New Roman", serif;
}
TD#GREEN
{
	color : #006600;
	font-style : normal;
	font-weight : normal;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD#TWLVE
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD#SLOGAN  {
	color : #1F5998;
	font-style : normal;
	font-weight : normal;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
TD#MMBR
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	vertical-align : top;
	padding : 2px 2px 2px 2px;
}
TD#BOTBAR  {
	color: #121212;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
TD#NAV
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	vertical-align : top;
}
TD#NOBRDR
{
	border : none;
}
TD#NEWS
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 4px 0px 0px 0px;
	border-top : none;
}
TD#NEWS2
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 0px 0px 0px 2px;
}
TD#CMGSN
{
	color : #000000;
	font-style : normal;
	font-weight : normal;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 5px 0px 0px 3px;
	border-top : none;
}
TD#ADs
{
	padding : 6px 0px 0px 0px;
	border-top : none;
}
TD#BOLD
{
	color : #151515;
	font-style : normal;
	font-weight : bold;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 2px 0px 2px 0px;
}
TD#CLIPS
{
	color : #151515;
	font-style : normal;
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 2px 0px 2px 0px;
}
TD#ARCHV
{
	color : #151515;
	font-style : normal;
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	padding : 10px 8px 10px 8px;
}
TD#LGL
{
	padding : 5px 15px 0px 15px;
	vertical-align : top;
	font-size : 12px;
}
TD#FLM
{
	padding: 2px 0px 2px 0px;
}
.CNTCT
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	vertical-align : top;
	padding : 8px 0px 8px 12px;
	width : 240px;
}
TD#CNTCT
{
	padding : 2px 0px 2px 0px;
}
TD#FLMBDY
{
	padding: 2px 2px 2px 6px;
}
TABLE.FLM
{
	border-collapse: collapse;
	border-bottom-color: #A9B7C3;
	border-right-color: #A9B7C3;
	border-left-color: #B6C3CE;
	border-top-color: #B6C3CE;
}
STRONG  {
	color : #FFFFFF;
	font-style : normal;
	font-weight : bolder;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	height : 18px;
	line-height : 18px;
}
.subheader {
	font-size: 10px;
	font-weight: bold;
	color: #FFCC33;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
A:link 
{
    COLOR:#0050A5;
}
A:visited 
{
    COLOR:#32739C;
}
A 	 	
{
    TEXT-DECORATION: none
}
A:hover
{
    COLOR:#C80000;
	TEXT-DECORATION: underline
}
div.TTL
{
	padding : 5px 0px 5px 0px;
	COLOR: #770000;
	font-family : "Caslon", "DejaVu Serif", Impact, "Times New Roman", serif;
	font-size : 24px;
	font-weight : bolder;
	height : 24px;
}
div.HEAD
{
	padding : 0px 0px 0px 0px;
	background : url(../images/HEAD.gif) repeat;
	height : 16px;
}
div.EVNTS
{
	padding : 4px 0px 8px 0px;
	COLOR: #252525;
	FONT-FAMILY: ' Arial, Verdana, Helvetica, sans-serif';
	font-size : 16px;
	height : 18px;
	font-weight : bold;
}
div.EVNTC
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
	color : #760A0A;
	height : 18px;
	font-weight : bold;
}
B.CPTN
{
	font-family : "Times New Roman", Times, serif;
	font-size : 16px;
	color : #190C0D;
}
B.ALT
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 15px;
	color : #832317;
}
B.EVNTS
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #4A0A0A;
}
B.EVNTC
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 16px;
	color : #760A0A;
}
div.FLM
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	height: 22px;
	letter-spacing: .025em;
	color: #6E0E0E;
}
B.FLM
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	height: 16px;
	color: #6E0E0E;
}
B.WSH
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	height: 14px;
	color: #6C0101;
}

#PowWowNote
{
	color : #336600;
	text-align: center;
	font-style : italic;
	font-weight : normal;
	font-size : 18px;
	font-family : "Bodoni MT Black", "DejaVu Serif", "Times New Roman", serif;
}
TD#PowWowRole
{
	color : #336600;
	text-align: left;
	font-style : normal;
	font-weight : normal;
	font-size : 18px;
	font-family : "Caslon", "Times New Roman", serif;
}
TD#PowWowPerson
{
	color : #336600;
	text-align: right;
	font-style : normal;
	font-weight : normal;
	font-size : 18px;
	font-family : "Caslon", "Times New Roman", serif;
}
h1.cowboyfest
{
	font-family : "Bodoni", "Times New Roman", serif;
	text-indent: 20px;
	text-align: center;
	padding-left:  50px;
	padding-right:  100px;
	padding-top:  20px;
	background-image: url("../images/midBar_L.gif");
	background-repeat: no-repeat;
	/*
	background: 
		url("../images/midBar_L.gif") no-repeat scroll left top content-box,
		url("../images/close.gif") no-repeat scroll right center content-box,
		url("../images/close.gif") no-repeat scroll left center content-box;
	*/
}
h2.cowboyfest
{
	margin-left:	75px;
	margin-right:	75px;
	font-family : "Caslon", "Times New Roman", serif;
}
p.cowboyfest
{
	margin-left:	100px;
	margin-right:	100px;
	font-family : "Caslon", "Times New Roman", serif;
}
.markcowboyfest
{
	text-align:	right;
	font-family : "Caslon", "Times New Roman", serif;
	font-size:	120%;
}
header.cowboyfest
{
	margin-left:	100px;
	margin-right:	100px;
	margin-bottom:  25px;
	font-size : 160%;
	font-family : "Caslon", "Times New Roman", serif;
}
footer.cowboyfest
{
	color:  #111111;
	margin-left:	100px;
	margin-right:	100px;
	margin-bottom:  25px;
	font-size : 160%;
	font-family : "Caslon", "Times New Roman", serif;
}
div#cowboyfest.carousel-container
{
	margin-left:	70px;
}
